body {
  font-family: 'Public Sans', sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

:root {
    --gradiant: linear-gradient(90deg,#fff,#dcdcdc,#f4f4f4,#f6f6f6);
}
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
::-webkit-scrollbar {
    height: 5px;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #8fb59c;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}

/* Define the animation */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/* Apply the animation when the element has the 'shake' class */
.shake {
  animation: shake 0.2s ease-in-out 2; /* 2 seconds total duration */
}

table.clasic-table {
  margin: auto;
  width: 100%;
  background: #ffffffe8;
  padding: 25px;
  border-radius: 25px;
  overflow: hidden;
}

table.clasic-table td {
  padding: 15px;
}

table.clasic-table tr:hover {
  background: #f0f0f0;
  cursor:pointer;
}

table.clasic-table thead tr {
  background: #f3f3f3;
}

table.clasic-table tr {
  border-bottom: 2px solid #f0f0f0;
}

.popup-controls {
  width: 0;
  height: 0;
}

.popup-controls .back-button {
  position: relative;
  top: 20vh;
  left: -2vw;
  width: 50px;
  cursor: pointer;
}

.popup-controls .back-button img {
  width: 100%;
}

.container {
  height: 90vh;
  width: 100%;
  display: inline-flex;
}

.menu-item.info-bar.options .content-wrapper h4 {
  font-size: 15px;
}

.page-container {
  width: 80%;
  padding: 35px;
}

.company-crm-statistics,
.widget-container {
  border-radius: 35px;
  border: 1px solid #ededed;
  box-shadow: 5px 5px 20px 7px #00000005;
  background: white;
}

.widget-1x3.company-crm-statistics .mini-heading {
  min-height: 110px;
}

.col-1x2.widget-1x3.company-crm-statistics {
  width: 45%;
}

.widget-1x3.company-crm-statistics:hover {
  cursor: pointer;
  box-shadow: 0px 0px 14px 8px #0000000d;
}

.hint {
  padding: 5px;
  background: #1a4136;
  color: white;
  font-size: 15px;
  border-radius: 10px;
}

.col-1x2 {
  width: 45%;
}

.hint.disabled {
  background: gray;
}

.mini-statistics.integrations .logo-wrapper img {
  width: 50px;
  margin: auto;
}

.mini-statistics.integrations .logo-wrapper {
  width: 100%;
  display: flex;
}

.widget-1x3 {
  margin: 0.825%;
  padding: 1.425%;
  width: 30%;
}

.widget-2x3 {
  margin: 0.825%;
  padding: 1.825%;
  width: 63%;
}

.scrollable {
  max-height: 300px;
  overflow-y: scroll;
}

.mini-heading .titles h4, .mini-heading .titles p {
  font-size: 16px;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}


.mini-heading .titles p {
  color: gray;
  font-size: 12px;
  padding-top: 2px;
}

.mini-heading .title-wrapper h4 {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

widget-container .title-wrapper h4 {
  font-size: 10px;
}

.widget-1x3.widget-container h4 {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.widget-1x3.widget-container p {
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.mini-heading .titles p {
  color: gray;
  font-size: 12px;
  padding-top: 2px;
}

.mini-3x3 {
  display: inline-flex;
  width: 100%;
}

.mini-heading {
  display: inline-flex;
  width: 100%;
}

.mini-heading .logo-wrapper {
  width: 30%;
}

.mini-heading .logo-wrapper img {
  width: 100%;
}

.mini-heading .title-wrapper {
  font-size: 25px;
  width: 70%;
  padding: 15px;
  color: gray;
  font-weight: 400;
}

.mini-statistics {
  width: 100%;
  display: inline-flex;
}

.mini-statistics .figure-wrapper {
  width: 33%;
  text-align: left;
  padding: 15px;
}

.mini-statistics .figure-wrapper h4, .mini-statistics .figure-wrapper p {
  margin: 0;
  padding: 0;
}

.mini-statistics .figure-wrapper h4 {
  font-size: 20px;
  color: #808080;
}

.mini-statistics .figure-wrapper.middle {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}

.menu-item.info-bar {
  padding: 10px;
  display: inline-flex;
}

.menu-item.info-bar.options {
  padding-left: 65px;
  left: -20px;
  position: relative;
  width: auto;
  transition: .2s ease;
}

.form-control {
  padding: 10px;
}

.mini-statistics .figure-wrapper p {
  font-size: 12px;
}

.form-control input {
  padding: 12px 12px 12px 40px;
  border-radius: 20px;
  border: 1px solid #e7e7e7;
  min-width: 400px;
}

.form-control.search-icon {
  padding: 0;
  margin: 0;
  position: relative;
  height: 0;
  width: 0;
  left: 20px;
  bottom: -20px;
}

.page-heading {
  padding: 10px;
}

.page-heading h2, .page-heading p {
  padding: 0;
  margin: 0;
}

.menu-item.info-bar.options:hover {
  border-radius: 5px;
  border-left: 10px solid #8fb59c;
  cursor:pointer;
  transition: .2s ease;
}

.menu-item.info-bar.options .logo-wrapper {
  position: relative;
  width: 30px;
  top: 5px;
}

.menu-item.info-bar .logo-wrapper {
  width: 60px;
}

.menu-item.info-bar .logo-wrapper img {
  width: 100%;
}

.menu-wrapper {
  width: 20%;
  height: 100%;
  max-width: 350px;
  min-height: 500px;
  background: #F5F5F5;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 25px;
  padding: 20px;
}

.menu-item.info-bar .content-wrapper {
  width: 80%;
  padding: 10px;
}

.menu-item.info-bar .content-wrapper h4 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
}

.menu-item.info-bar .content-wrapper p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #00000099;
}

.menu-item.info-bar .content-wrapper a {
  text-decoration: none;
  color: inherit;
}

.search-controls {
  z-index: 1000;
  position: absolute;
  width: 73%;
  height: 70vh;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: #ffffff1c;
  overflow: hidden;
  overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f0f0f0;
}

thead {
  position: sticky;
  top: 0;
  backdrop-filter: blur(5px);
  background: #ffffff7d;
}

thead tr td {
  padding: 10px;
}

.message-preview .content-wrapper {
  display: grid;
  width: 100%;
}

.content-wrapper .headings {
  display: inline-flex;
  width: 100%;
}

.message-preview {
  display: flex;
  width: auto;
  padding: 15px;
  background: white;
  margin: 10px;
  border: 2px solid #f3f3f3;
  box-shadow: 5px 5px 14px 0px #00000005;
  cursor: pointer;
  border-radius: 15px;
}

.message-preview .logo-wrapper {
  width: 100px;
}

.content-wrapper .headings .mini-2x3 {
  width: 70%;
}

.message-preview .content-wrapper .headings .mini-2x3 h3 {
  font-size: 15px;
  font-weight: bold;
}

.message-preview .content-wrapper .headings .mini-1x3 h3 {
  font-size: 15px;
  font-weight: 100;
  color: gray;
}

.message-preview:hover {
  box-shadow: 5px 5px 14px 0px #00000012;
  border: 2px solid #8fb59c;
}

.special-sender {
  background: #f5f5f5;
  width: 250px;
  text-align: left;
  color: #133b2b;
  padding: 2px;
  border-radius: 5px;
}

.search-result:hover {
  border: 2px solid #8fb59c;
  box-shadow: 2px 1px 14px 4px #00000033;
  transition: .2s ease;
}

.popup-window {
  width: 75vw;
  height: 55vh;
  position: absolute;
  top: 180px;
  left: 23vw;
  border-radius: 35px 0px 0px 35px;
  border-left: 5px solid #8fb59c;
  background: #ffffff69;
  backdrop-filter: blur(10px);
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
}

.slide-in {
  transform: translateX(0%);
}

.search-result {
  cursor: pointer;
  width: 95%;
  background: white;
  border: 2px solid #f3f3f3;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  max-height: 70px;
  padding: 10px;
  box-shadow: 2px 1px 14px 4px #0000000f;
  transition: .2s ease;
}

.search-result .mini-heading .title-wrapper p.description {
  font-size: 15px;
  padding-top: 10px;
}

.search-result .mini-heading .title-wrapper {
  display: block;
  width: 100%;
}

.search-result .mini-heading .title-wrapper h4.title {color: black;}

.search-result .mini-heading .title-wrapper h4.subTitle {
  color: white;
  margin-left: 55%;
  background: #1a4136;
  padding: 10px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
}

.search-result .mini-heading {
  width: 100%;
}

.search-result .mini-heading .logo-wrapper {
  width: 40%;
  height: 40px;
  margin-top: 15px;
  overflow: hidden;
  margin-right: 35px;
}

.search-result .mini-heading .title-wrapper p.description {
  font-size: 15px;
  padding-top: 10px;
}

.chat-status-new {
  padding: 2px;
  background: green;
  text-align: center;
  color: white;
  width: 40px;
  border-radius: 10px;
}

table .mini-heading .logo-wrapper {
  width: 60px;
}

table .mini-heading .title-wrapper h4 {
  margin: 0;
  padding: 0;
  position: relative;
  top: -15px;
}

.scrollable-container {
  height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
}


.container .main-2x3 {
  width: 66%;
}

.container .main-1x3 {
  width: 33%;
}

.container .main-3x3 {
  width: 100%;
}


.container .main-1x4 {
  width: 25%;
}

.container .main-2x4 {
  width: 50%;
}

.container .main-3x4 {
  width: 75%;
}

.container .main-4x4 {
  width: 100%;
}


.container .main-2x3 {
  width: 66%;
}

.container .main-1x3 {
  width: 33%;
}

.container .main-3x3 {
  width: 100%;
}


.container .main-1x4 {
  width: 25%;
}

.container .main-2x4 {
  width: 50%;
}

.container .main-3x4 {
  width: 75%;
}

.container .main-4x4 {
  width: 100%;
}

.container .main-2x3 {
    width: 66%;
}

.container .main-1x3 {
    width: 33%;
}

.container .main-3x3 {
    width: 100%;
}


.container .main-1x4 {
    width: 25%;
}

.container .main-2x4 {
    width: 50%;
}

.container .main-3x4 {
    width: 75%;
}

.container .main-4x4 {
    width: 100%;
}

.branding {
  margin-bottom: 30px;
}

.branding img {
    width: 90px;
}

.login-form {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: -1px 1px 16px 18px #f9f9f9;
    min-height: 50vh;
}

.login-form input {
    text-align: center;
    min-width: auto;
    width: 90%;
    padding: 10px;
}

.heading.form-control {
    margin-bottom: 25px;
    font-size: 30px;
    text-align: center;
} img {
  width: 90px;
}

.login-form {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: -1px 1px 16px 18px #f9f9f9;
  min-height: 50vh;
}

.login-form input {
  text-align: center;
  min-width: auto;
  width: 90%;
}

.heading.form-control {
  margin-bottom: 25px;
  font-size: 30px;
}

input[type="button"] {
  display: block;
  width: 80%;
  margin: auto;
  font-weight: bold;
}

input[type="button"]:hover,
input[type="button"].enabled:hover {
  background: #1a4136;
  transition: .2s ease;
  cursor: pointer;
}

input[type="button"].disabled {
  background: #e9e9e9;
}

input[type="button"].disabled:hover {
  background: #f5f5f5;
  transition: .2s ease;
  cursor: pointer;
}

input[type="button"].enabled {
  background: #8fb59c;
  color: white;
}

p.form-error {
  padding: 10px;
  background: #fbf0da;
  font-size: 14px;
  font-weight: bold;
  color: #494949;
  margin: 10px;
  border: 1px solid orange;
  border-radius: 10px;
}

.wrap {
  display: flex;
  width: 180px;
  margin-left: 30%;
}

.wrap label {
  min-width: 130px;
  margin: 10px;
}

.wrap input[type="checkbox"] {
  width: 30px;
  padding: 10px;
}

.info-banner {
  padding: 35px;
  margin: auto;
  width: 200px;
  margin-top: 25%;
  backdrop-filter: blur(10px);
  background: #f3f3f361;
  border-radius: 10px;
}

.loading-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #ffffff4f;
  z-index: 10000;
  backdrop-filter: blur(10px);
}

.logo-overlay {
  position: relative;
  top: -90px;
}

.logo-overlay img {
  position: relative;
  width: 40px;
  top: 25px;
  overflow: hidden;
}

.loading-overlay center {
  margin-top: 20%;
}

.loading-image img {
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 1px 1px 20px 6px #0000000f;
}

.search-result .mini-heading .logo-wrapper img {
  height: 100%;
  width: auto;
}






.incomming-message {
  position: relative;
  background: #8fb59c;
  padding: 25px;
  margin: 15px;
  max-width: 40%;
  left: 50%;
  border-radius: 10px;
  color: white;
}

.message-controls {
  position: relative;
  width: 0;
  height: 0;
  left: 100%;
  top: -15px;
}

.scrollable.chat-view {
  width: 90%;
  margin: auto;
}

.message-controls .message-bubble {
  position: relative;
  top: -20px;
  width: 45px;
}

.message-controls .message-bubble img {
  width: 100%;
}

.outgoing-message .message-controls {
  position: relative;
  width: 0;
  height: 0;
  left: -8%;
  top: -12px;
}

.outgoing-message {
  position: relative;
  background: #c4c4c4;
  padding: 25px;
  margin: 15px;
  max-width: 40%;
  right: 0%;
  border-radius: 10px;
  color: white;
}

.outgoing-message p, .incomming-message p {padding-left: 25px;width: 90%;}

h6.time-display {
  float: right;
}


/* For mobile devices */
@media only screen and (max-width: 767px) {
  .widget-1x3 {
    width: 100%;
  }

  .mini-3x3 {
    display: block;
    width: 100%;
  }
}

/* For small laptops or tablets */
@media only screen and (min-width: 768px) and (max-width: 1323px) {
  .widget-1x3, .widget-2x3 {
    width: 96%;
  }

  .mini-3x3 {
    display: block;
    width: 96%;
  }

  .col-1x2.widget-1x3.company-crm-statistics {
    width: 98%;
  }

  .menu-wrapper {
    overflow: hidden;
    width: 60px;
  }

  .menu-item.info-bar .content-wrapper {
    display:none;
  }

  .menu-item.info-bar.options {
    padding-left: 30px;
    left: -20px;
  }

  .menu-item.info-bar .logo-wrapper {
    width: 40px;
  }

  .search-controls {
    width: 80%;
  }

  .popup-window {
    width: 85vw;
    left: 11vw;
  }
}

/* For larger monitors */
@media only screen and (min-width: 1324px) {
  /* Your styles for larger monitors */
}



